body {
    background-color: linen;
}

h1 {
    color: rgb(113, 0, 128);
    margin-left: 40px;
}
p{
    font-size: 25px;
}
.passed{
    color: #e20c06
}
.faild{
    color: #06e232
} 
div{
	font-size: 20px;
}